# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Dataset
data/

# Uploaded Images
uploads/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db